@font-face {
    font-family: "Smiley Sans Oblique";
    src: url("dy.eot"); /* IE9 */
    src: url("dy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("dy.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("dy.woff") format("woff"), /* chrome, firefox */
    url("dy.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("dy.svg#Smiley Sans Oblique") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


